---
import { getCollection } from 'astro:content';
import DocsLayout from '../../layouts/DocsLayout.astro';

// Fetch all Markdown files
const docs = await getCollection('docs');

// Get the current slug from the URL
const { slug } = Astro.params;

// Find the corresponding document
const currentDoc = docs.find(doc => doc.slug === slug);


export async function getStaticPaths() {

  // Fetch all Markdown files and images
  const images = await Astro.glob('/src/content/docs/**/*.png');

  const docs = await getCollection('docs');

  // Combine paths for Markdown and image files
  const paths = [
    ...docs.map(doc => {
      const { slug } = doc;
      return { params: { slug }, props: { entry: doc } };
    }),
    // ...images.map(img => {
    //   console.log(img)
    //   // const slug = img.default.url.replace('/@fs/Users/rep/gitskobba/skobba.github.io/src/content/', '').replace(/\.(jpg|jpeg|png|gif)$/, '');
    //   // return { params: { slug } };
    //   return
    // })
  ];

  // console.log('paths: ', paths)
  return paths;

}

// FIX FOR MISSING FILE PATH from astro collection!
// Find file path for github by looking up the file path from Astro.glob 
// Use Astro.glob to get all files
const files = await Astro.glob('/src/content/docs/**/*.{md,mdx}');

// Find the file that matches the id
const matchingFile = files.find(file => {
  // Normalize the path (relative to the content directory) to match the id from getCollection

  const filePath = file.file.replace(/.*\/src\/content\/docs\//, ''); // Remove prefix path

  return filePath === currentDoc.id;
});

// Generate github link
const missingLink = matchingFile?.file.replace(/.*\/src\/content\/docs\//, '');
const githubLink = `https://github.com/skobba/skobba.github.io/blob/main/src/content/docs/${missingLink}`

const { Content } = await currentDoc.render();
---
<DocsLayout Content={Content} frontmatter={}>
  <style>
    a {
      position: absolute; /* Positioned relative to the parent */
      right: 10px; /* Adjust as needed */
      background-color: #bdc7ff;
      padding: 10px;
      border-radius: 5px;
    }
  </style>
  <a href={githubLink} target="_blank" rel="noopener noreferrer">Edit on GitHub</a>
  <Content/>
</DocsLayout>

<!-- <BaseLayout pageTitle = {''}>
  <Content />
</BaseLayout> -->