---
import { getCollection } from 'astro:content';
import DocsLayout from '../../layouts/DocsLayout.astro';

// Fetch all Markdown files
const docs = await getCollection('docs');

// Get the current slug from the URL
const { slug } = Astro.params;

// Find the corresponding document
const currentDoc = docs.find(doc => doc.slug === slug);


export async function getStaticPaths() {

  // Fetch all Markdown files and images
  const images = await Astro.glob('/src/content/docs/**/*.png');

  const docs = await getCollection('docs');

  // Combine paths for Markdown and image files
  const paths = [
    ...docs.map(doc => {
      const { slug } = doc;
      return { params: { slug }, props: { entry: doc } };
    }),
    // ...images.map(img => {
    //   console.log(img)
    //   // const slug = img.default.url.replace('/@fs/Users/rep/gitskobba/skobba.github.io/src/content/', '').replace(/\.(jpg|jpeg|png|gif)$/, '');
    //   // return { params: { slug } };
    //   return
    // })
  ];

  console.log('paths: ', paths)
  return paths;

}


const { Content } = await currentDoc.render();
const githubLink = `https://github.com/skobba/skobba.github.io/blob/main/src/content/docs/${currentDoc.slug}.md`
---
<DocsLayout Content={Content} frontmatter={}>
  <a href={githubLink} target="_blank" rel="noopener noreferrer">Edit on GitHub</a>

  <Content/>
</DocsLayout>

<!-- <BaseLayout pageTitle = {''}>
  <Content />
</BaseLayout> -->