---
import DocsLayout from '../../layouts/DocsLayout.astro';
import DocsMenu from '../../components/DocsMenu.astro';

---

<DocsLayout pageTitle = {'Documentation'}>
    <h2>Developer Handbook</h2>
    <h3>Various developer related articles.</h3>
</DocsLayout>

