---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/global.css';


const docs = await Astro.glob('/src/pages/pgs/**/*.md');
// console.log('docs: ', docs)

const pageTitle = 'skobba.net';
---
<BaseLayout pageTitle = {pageTitle}>
  <h2>Pages</h2>
  <h3>Search Path: /src/pages/pgs</h3>

  <ul>
    { 
      docs.map(doc => {
          const filePathWithoutExt = doc.file.replace(/\.[^/.]+$/, "")
          const filePath = filePathWithoutExt.replace(/.*\/src\/pages/, '');
          console.log(filePath)
          return (
              <li>
                  <a href={`${filePath}`}>{filePath}</a>
              </li>
          )}
      )}
  </ul>

  <!-- <h3>Debug:</h3>
  <pre>{JSON.stringify(docs, null, 2)}</pre> -->
</BaseLayout>