---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/global.css';


const docs = await Astro.glob('/src/content/docs/**/*.md');

const pageTitle = 'skobba.net';
---
<BaseLayout pageTitle = {pageTitle}>
  <h2>Some documents</h2>

  <ul>
    <li><a href="/pgs">/pgs</a></li>
    <li><a href="/pgs/kubernetes/kubernetes">/pgs/kubernetes/kubernetes</a></li>
    <li><a href="/pgs/git/git">/pgs/git/git</a></li>
    <li><a href="/pgs/start">/pgs/start</a></li>
  </ul>
</BaseLayout>