---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "About skobba.net";

const identity = {
  firstName: "Gjermund",
  country: "Norway",
  occupation: "interwebdeveloper",
  hobbies: ["birdwatching", "trainspotting"],
};

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
    }
  
		h1 {
			font-size: 4rem;
		}
		.skill {
			color: green;
			font-weight: bold;
		}
    </style>
  </head>
  <body>
    <Header />
    <div class="content">
      <div>

        <h1>{pageTitle}</h1>
        <h2>This domain is used by the Skobba family</h2>
        This site is maintained by Gjermund Skobba.
    
        <h3>Residents:</h3>
    
        <ul>
          <li>Gjermund Skobba (administrator)</li>
          <li>Gunnar Skobba</li>
          <li>Karin Skobba</li>
          <li>Katrine Skobba</li>
          <li>Une Skobba</li>
        </ul>
        
        <p>This is the first site I use the Astro SSR framework, and so far it looks a lot better then Jekyl!</p>
        
        <p>Here are a few facts about us:</p>
        <ul>
          <li>We live in Norway</li>
          {identity.hobbies.length >= 2 &&
          <li>We are Trekkies</li>
          <li>Our hobbies inclues: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
        </ul>

      </div>
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>