---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Emoji from 'astro-emoji';

const pageTitle = "About skobba.net";

const identity = {
  firstName: "Gjermund",
  country: "Norway"
};

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
    }
  
		h1 {
			font-size: 4rem;
		}
		.skill {
			color: green;
			font-weight: bold;
		}
    </style>
  </head>
  <body>
    <Header />
    <div class="content">
      <div>

        <h1>{pageTitle}</h1>
        <h2>This domain is used by the Skobba family</h2>
        This site is maintained by Gjermund Skobba.
    
        <h3>Residents:</h3>
    
        <ul>
          <li>Gjermund Skobba (interwebdeveloper)</li>
          <li>Gunnar Skobba</li>
          <li>Karin Skobba</li>
          <li>Katrine Skobba</li>
          <li>Une Skobba</li>
        </ul>
        
        Made with
        {' Astro '}
        <Emoji symbol="🚀" label="love" />
        {' '}
        SSR framework.

      </div>
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>