---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import '../styles/global.css';

const pageTitle = 'skobba.net';
---
<BaseLayout pageTitle = {pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
   <!-- client:load -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />


  <ul>
    <li><a href="/docs-collection">/docs-collection</a></li>
    <li><a href="/docs-content">/docs-content</a></li>
    <li><a href="/docs-pages">/docs-pages</a></li>
  </ul>
</BaseLayout>