---
import RootLayout from '../layouts/RootLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'skobba.net';
---
<RootLayout pageTitle = {pageTitle}>
  <style>
    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
    }
  </style>
  <Header/>
  
  <div class="content">
      <div>

        <h2>skobba.net</h2>
        A family domain and a <a href="/docs">Developers Handbook</a>.
      </div>
  </div>

  <Footer/>
</RootLayout>