---
import RootLayout from '../layouts/RootLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/global.css';
import Emoji from 'astro-emoji';

const pageTitle = 'skobba.net';

---
<RootLayout pageTitle = {pageTitle}>
  <style>
    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
    }
  </style>
  <Header/>
  
  <div class="content">
    <div>
      <h2>{pageTitle}</h2>

      A family domain and a <a href="/docs">Developer Handbook</a>.
      
      <br/>
      <br/>
      
      This site is maintained by Gjermund Skobba for the follwing residens:

      <ul>
        <li>Gjermund Skobba (interwebdeveloper)</li>
        <li>Gunnar Skobba</li>
        <li>Karin Skobba</li>
        <li>Katrine Skobba</li>
        <li>Une Skobba</li>
      </ul>
      
      Made with
      {' Astro '}
      <Emoji symbol="🚀" label="love" />
      {' '}
      SSR framework.

    </div>

  </div>

  <Footer/>
</RootLayout>