---
import TradingLayout from '../../layouts/TradingLayout.astro';
const docs = await Astro.glob('/src/pages/trading/**/*.md');
---
<TradingLayout>
  <h1>Trading</h1>
  <h3>Test pages</h3>
  <ul>
    <li>
      <a href="/trading/tradedash">tradedash</a>
  </li>
  </ul>
  <h3>Search Path: /src/pages/trading</h3>
  <ul>
    { 
      docs.map(doc => {
          const filePathWithoutExt = doc.file.replace(/\.[^/.]+$/, "")
          const filePathWithoutPrefix = filePathWithoutExt.replace(/.*\/src\/pages/, '');
          const filePath = filePathWithoutPrefix.replace(/\/index/, '');

          console.log('filepath: ', filePath)
          return (
              <li>
                  <a href={`${filePath}`}>{filePath}</a>
              </li>
          )}
      )}
  </ul>
</TradingLayout>
