---
const platform = "github";
const username = "skobba";
---

<footer>
  <style>
    .gjermund {
      background-color: transparent;
      position: absolute; /* Positioned relative to the parent */
      left: 0px; /* Adjust as needed */
      color: transparent;
      height: 40px;
    }
  </style>
  <p><a href={`https://www.${platform}.com/${username}`}>{`${platform}.com/${username}`}</a></p>
  <p><a class="gjermund" href="/trading">TRAD</a></p>
</footer>