---
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<div class="nav-links">
  <Hamburger />
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/docs">Docs</a>
  <a href="/pgs">Pages</a>
  <ThemeIcon />
</div>