---
const {frontmatter} = Astro.props;
import Layout from "./Layout.astro";
---
<Layout title="Welcome to Astro.">
	<main>
    <h1>{frontmatter.title}</h1>
    <slot /> <!-- Markdown content is injected here -->
  </main>
</Layout>