---
const { title, content } = Astro.props;
---

<html>
<head>
  <title>{title}</title>
  <meta charset="UTF-8">
</head>
<body>
  
  <slot />

  <script>
    import "../scripts/menu.js";
  </script>
</body>
</html>

